body {
    margin: 0;
    padding: 0;
    background-color: black;
    
}

.content{
    height: 1800px;
    background-color: red;
}

.top-nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color:white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
}
.top-nav-element{
    cursor: pointer;
    margin-right: 20px;
}
#nav-help svg{
    fill: white;
    
    height: 18px;
    width: 18px;
}
#nav-profile svg{
    stroke: white;
}
#top-nav-logo svg{
    fill: white;
    
    height: 40px;
    width: 40px;
}
.help-section{
    display: none;
    color: aliceblue;
    width: 100vw;
    height: 400px;
}
.help-section.active{
    display: flex;
}
.profile-section{
    display: none;
    color: aliceblue;
    width: 100vw;
    height: 400px;
}
.profile-section.active{
    display: flex;
}
.nav-panel{
   position: fixed;
   top: 40px;
    transition: top .5s cubic-bezier(.5,.25,.015,1);
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 17px;
    height: 53px;
}
.toggle-button {
    display: none;
}

.nav-elements{
    display: flex;
    
}

.nav-extra-menu-button{
    margin-right: 36px;
}
#nav-extra-menu-button{
    cursor: pointer;
    border: none; 
    background: none; 
    transform: rotate(90deg);
}
#nav-extra-menu-button svg{
    width: 20px;
    fill:black;
    
}
.nav-logo{
    cursor: pointer;
    margin-right: 36px;
}

.nav-element{
    cursor: pointer;
    margin-left: 20px;
}
.nav-toggle{
    display: none;
    position: absolute;
    top:40px;
    width: calc(4 * calc((100vw - 2 * 7.4218vw - 28px * 11) / 12) + 5 * 28px);
    height: 100%;
    background-color: white;
}
.nav-toggle.active{
    display: block;
}
.nav-toggle-elements{
    display: flex;
    flex-direction: column;
}
.nav-extra-menu{
    position: absolute;
    top:40px;

    width: calc(4 * calc((100vw - 2 * 7.4218vw - 28px * 11) / 12) + 5 * 28px);
    height: 100%;
    display: none;
    background-color: white;
}
.nav-extra-menu.active {
    display: flex;
}


@media screen and (max-width: 1032px) {
    .toggle-button {
        display: block;
    }

    .nav-elements{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
    }
    
    .nav-extra-menu-button{
        display: none;
    }

    .nav-elements.active {
        display: flex;
    }

}
    /* Curtis Css begins here */
@import url(https://db.onlinewebfonts.com/c/48656eabd3fef6464367d956315c749a?family=Electronic+Arts+Text);

.nav-elements{
    font-family: "Electronic Arts Text" sans-serif;
    gap: 15px;
    font-size: 20px;
    
}

.nav-element{
    font-size:20px;
}

.nav-games-items {
    font-size: 17px;
}

/* Containers display by default */

.nav-games-container{
    position: absolute;
    display: none;
    align-content: center;
    height:0px;
    width: 17vw;
    gap: 30px;
    top: 60px;
    background-color: white;
    opacity: 90%;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 3px;
}

.nav-experience-container{
    display: none;
}

.nav-about-container{
    display: none;
}

.nav-commitments-container{
    display: none;
}

.nav-resources-container{
    display: none;
}

/* Containers displays when hovered */

.nav-element:hover .nav-games-container{
    
}


.nav-games-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    text-align: center;
}

.nav-element:hover .nav-experience-container{
    position: absolute;
    display: flex;
    gap: 30px;
    top: 60px;
    background-color: white;
    opacity: 90%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.nav-experience-items{
    display: flex;
    flex-direction: column;
    gap:30px;
    text-align: left;
}

.nav-element:hover .nav-about-container{
    position: absolute;
    display: flex;
    gap: 30px;
    top: 60px;
    background-color: white;
    opacity: 90%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.nav-about-items{
    display: flex;
    flex-direction: column;
    gap:30px;
    text-align: left;
}

.nav-element:hover .nav-commitments-container{
    position: absolute;
    display: flex;
    gap: 30px;
    top: 60px;
    background-color: white;
    opacity: 90%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.nav-commitments-items{
    display: flex;
    flex-direction: column;
    gap:30px;
    text-align: left;
}

.nav-element:hover .nav-resources-container{
    position: absolute;
    display: flex;
    gap: 30px;
    top: 60px;
    background-color: white;
    opacity: 90%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.nav-resources-items{
    display: flex;
    flex-direction: column;
    gap:30px;
    text-align: left;
}

/* Extra nav-bar toggle */
    