body {
    margin: 0;
    padding: 0;
    background-color: black;
    
}

.content{
    height: 1800px;
    background-color: red;
}

.top-nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color:white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
}
.top-nav-element{
    cursor: pointer;
    margin-right: 20px;
}
#nav-help svg{
    fill: white;
    
    height: 18px;
    width: 18px;
}
#nav-profile svg{
    stroke: white;
}
#top-nav-logo svg{
    fill: white;
    
    height: 40px;
    width: 40px;
}


.nav-panel{
   position: fixed;
   top: 40px;
    transition: top .5s cubic-bezier(.5,.25,.015,1);
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 17px;
    height: 56px;
}
.toggle-button {
    display: none;
}

.nav-elements{
    display: flex;
    font-size: 19px;
    font-weight: 200;
    gap: 15px;
}

.nav-extra-menu-button{
    margin-right: 36px;
}
#nav-extra-menu-button{
    cursor: pointer;
    border: none; 
    background: none; 
    transform: rotate(90deg);
}
#nav-extra-menu-button svg{
    width: 20px;
    fill:black;
    
}
.nav-logo{
    cursor: pointer;
    margin-right: 36px;
}

.nav-element{
    cursor: pointer;
    margin-left: 20px;
    font-family: "EA-Regular", Verdana, Helvetica, sans-serif;
}
.nav-toggle{
    display: none;
    position: absolute;
    top:40px;
    width: calc(4 * calc((100vw - 2 * 7.4218vw - 28px * 11) / 12) + 5 * 28px);
    height: 100%;
    background-color: white;
}
.nav-toggle.active{
    display: block;
}
.nav-toggle-elements{
    display: flex;
    flex-direction: column;
}
.nav-extra-menu{
    position: absolute;
    top:40px;

    width: calc(4 * calc((100vw - 2 * 7.4218vw - 28px * 11) / 12) + 5 * 28px);
    height: 100%;
    display: none;
    background-color: white;
}
.nav-extra-menu.active {
    display: flex;
}
#close-menu-button{
    fill:white;
    height: 13px;
    width: 13px;
    
    margin-right: 40px;
    cursor: pointer;
    z-index: 23;
    position: absolute;
    top: 30px;
    right: 30px;

}
.nav-menu-close-items #close-menu-button{
    fill:black;
    height: 16px;
    width: 16px;
    
    
    cursor: pointer;
    z-index: 23;
    position:static;
}

.help-section{
    display: flex;
    color: aliceblue;
    width: 100vw;
    height: 0px;
    overflow: hidden;
    z-index: 15;
    position: fixed;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    top: 40px;
    transition: 0.5s;
    
}
.help-section.active{
    height: 400px;
}

.help-section-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.help-head{
    align-self: center;
    font-weight: bold;
}
.help-head b{
    font-size: 18px;
}
.help-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.help-content-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-wrap: wrap;
    width: 304px;
}
.help-content img{
    width: 36px;
    height: 36px;
}
.help-content span{
    line-height: 1.35;
    padding: 0 0 0 0.5em;
    text-align: left;
    font-size: 16px;
}


.profile-section{
    display: flex;
    height: 0px;
    color: aliceblue;
    width: 100vw;
    /* height: 400px; */
    z-index: 10;
    position: fixed;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    top: 40px;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
}
.profile-section.active{
    height: 400px;
}

.profile-body{
    display: flex;
    flex-direction: row;
    
}
.profile-element{
    width: 304px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile-element img{
    width: 36px;
    height: 36px;
}

@media screen and (max-width: 1032px) {
    .toggle-button {
        display: block;
    }

    .nav-elements{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
    }
    
    .nav-extra-menu-button{
        display: none;
    }

    .nav-elements.active {
        display: flex;
    }

}
    /* CURTIS CSS STARTS HERE */
@font-face{
    font-family: "EA-Regular";
    src: url(ElectronicArtsDisplay-Regular.woff2);
}

/* INVISIBLE CONTAINERS CSS */

.nav-games-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    text-align: center;
    background-color: white;
    opacity: 50%;
    padding-top: 40px;
    padding-bottom: 40px;         
    top: 60px;
    width: 382px;
    max-height: 0px;
    transition: max-height 0.4s ease-in-out;
    overflow: hidden; 
    justify-content: space-around;
    border-radius: 3px;
}

.nav-experience-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    text-align: center;
    background-color: white;
    opacity: 50%;
    padding-top: 20px;
    padding-bottom: 20px ;         
    top: 60px;
    width: 234px;
    max-height: 0px;
    transition: max-height 0.4s ease-in-out;
    overflow: hidden; 
    justify-content: space-around;
    text-align: left;
    border-radius: 3px;
    padding-left: 0px;
    padding-right: 0px;
}

.nav-about-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    text-align: center;
    background-color: white;
    opacity: 50%;
    padding-top: 20px;
    padding-bottom: 20px;         
    top: 60px;
    width: 200px;
    max-height: 0px;
    transition: max-height 0.4s ease-in-out;
    overflow: hidden; 
    justify-content: space-around;
    border-radius: 3px;
    text-align: left;
}

.nav-commitments-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    text-align: center;
    background-color: white;
    opacity: 50%;
    padding-top: 20px;
    padding-bottom: 20px;         
    top: 60px;
    width: 226px;
    max-height: 0px;
    transition: max-height 0.4s ease-in-out;
    overflow: hidden; 
    justify-content: space-around;
    border-radius: 3px;
    text-align: left;
}

.nav-resources-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    text-align: center;
    background-color: white;
    opacity: 50%;
    padding-top: 10px;
    padding-bottom: 10px;         
    top: 60px;
    width: 260px;
    max-height: 0px;
    transition: max-height 0.4s ease-in-out;
    overflow: hidden; 
    justify-content: space-around;
    border-radius: 3px;
    text-align: left;
}

/* CONTAINERS WHEN THEY GET*/

.nav-element:hover .nav-games-container{
    max-height: 389px;
    opacity: 90%;
    transition: opacity 50% 0.4s;
}

.nav-element:not(:hover) .nav-games-container{
    max-height: 0px;
    opacity: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: opacity 0.4s step-end, max-height 0.4s, padding-top 0.4s , padding-bottom 0.1s ;
    
}

.nav-games-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
    color: grey;
} 

.nav-element:hover .nav-experience-container{
    max-height: 210px;
    opacity: 90%;
    transition: opacity 50% 0.4s;
    text-align: left;
}

.nav-element:not(:hover) .nav-experience-container{
    max-height: 0px;
    opacity: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: opacity 0.4s step-end, max-height 0.4s, padding-top 0.4s , padding-bottom 0.1s ;    
}

.nav-experience-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
    color: grey;
} 

.nav-element:hover .nav-about-container{
    max-height: 282px;
    opacity: 90%;
    transition: opacity 50% 0.4s;
}

.nav-element:not(:hover) .nav-about-container{
    max-height: 0px;
    opacity: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: opacity 0.4s step-end, max-height 0.4s, padding-top 0.4s , padding-bottom 0.1s ;    
}

.nav-about-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
    color: grey;
} 

.nav-element:hover .nav-commitments-container{
    max-height: 246px;
    opacity: 90%;
    transition: opacity 50% 0.4s;
}

.nav-element:not(:hover) .nav-commitments-container{
    max-height: 0px;
    opacity: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: opacity 0.4s step-end, max-height 0.4s, padding-top 0.4s , padding-bottom 0.1s ;    
}

.nav-commitments-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
    color: grey;
} 

.nav-element:hover .nav-resources-container{
    max-height: 226px;
    opacity: 90%;
    transition: opacity 50% 0.4s;
}

.nav-element:not(:hover) .nav-resources-container{
    max-height: 0px;
    opacity: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: opacity 0.4s step-end, max-height 0.4s, padding-top 0.4s , padding-bottom 0.1s ;    
}

.nav-resources-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
    color: grey;
} 


    
.nav-games-items a:hover {
    color: red;
}

.nav-experience-items a:hover {
    color: red;
}

.nav-about-items a:hover {
    color: red;
}

.nav-commitments-items a:hover {
    color: red;
}

.nav-resources-items a:hover {
    color: red;
}

.nav-element:hover .nav-title{
    color: red;
}

#nav-special {
    color: black;
    font-weight: 800;
    font-size: 15px;
}

/* Extra nav-bar toggle */

.nav-extra-small-item{
    width: 155px;
    height: 155px;
    display: flex;
    flex-direction: row;
}

.nav-small-item-img{
    width: inherit;
    height: inherit;
}

.nav-extra-small-imgs-container{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
   justify-content: center;
    gap: 25px;
    
}

.nav-big-item-container{
    width: 424px;
    height: 343px;
    justify-content: center;
    display: flex;
}

.nav-bit-item-img{
    width: 343px;
    height: 343px;
}

.nav-extra-menu.active{
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;
    gap: 30px;
    width: 424px;
    height: 1103px;
}

.nav-extra-menu-close{
    margin-top: 47px;
    margin-bottom: 47px;
    height: 27px;
    width: 343px;
   
}

.nav-menu-close-items{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: grey;
    font-weight: 900;
    font-family: "Assets/fonts/ElectronicArtsText-Regular.woff2" , Verdana;
}

.nav-extra-menu-close svg{
    width: 16px;
    height: 16px;
}